.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form#main_form{
    background-color: #343a40;
    width: 30em;
    padding: 2em ;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    color: white;
    margin: 1em;
}