.container {
    display: flex;
    justify-content: center;
}
.container:not(.update){
    height: 100%;

    align-items: center;
}
h1{
    text-align: center;
    margin-bottom: 1em;
}
form#main_form{
    background-color: #343a40;
    width: 40em;
    padding: 2em ;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    color: white;
    margin: 1em;
}
form#main_form input, label, select, textarea{
    margin: .6em 0;
}
textarea{
    width: 100%;
}
.row_genre div:first-child{
    display: flex;
    align-items: center;
}
ul li {
    list-style: none;
    color: yellow;
    font-weight: bolder;
}