html, body {
    height: 100%;
}
header{
    margin-bottom: 5em;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #6c757d;
}

a {
    color: whitesmoke;
}

a:hover {
    color: lightgray;
    text-decoration: none;
}
.content{
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
    color: #c2c2c2;
}

footer a {
    color: #c2c2c2;
    font-size: 2em;
    padding: 0.5em 0.5em 0 0.5em;
}
ul.navbar-nav li.nav-item{
    font-weight: bolder;
}

.search_btn {
    border: 1px solid;
}

.search_inp {
    margin-right: -41px;
    padding-right: 41px;
}

.search_inp:focus {
    margin-right: -41px;
    padding-right: 41px;
    -webkit-box-shadow: 0 0 1em #34ce57;
    -moz-box-shadow: 0 0 1em #34ce57;
    box-shadow: 0 0 1em #34ce57;
}

.collapse {
    justify-content: space-between;
}

.dropdown {
    margin-right: 1em;
}
.dropdown, .dropdown-menu{
    width: 10em;
}
.dropdown-menu {
    padding: 1em;
}
.success{
    color: #00ff00;
    text-align: center;
}

@media (max-width: 770px) {
    .col-md-6 {
        text-align: center;
    }

    .text-right {
        text-align: center !important;
    }
}

@media (max-width: 990px) {
    .collapse {
        justify-content: left;
    }

    .directionColumn {
        display: flex;
        flex-direction: column;
    }

    #dropdownAccount {
        width: 190px;
        margin-bottom: 1em;
    }

    .dropdown-menu {
        width: 190px;
    }

    .search_inp {
        max-width: 190px;
        min-width: 190px;
        padding: 8px 41px 8px 16px;
    }

    .ml-3 {
        margin: 0 !important;
    }
}