.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form#main_form{
    background-color: #343a40;
    width: 30em;
    padding: 2em ;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    color: white;
    margin: 1em;
}
form#main_form h1{
    text-align: center;
    margin-bottom: 1em;
}
form#main_form .row .row{
    padding: 0.8em;
}

input{
    border-radius: 0.3em;
    padding-left: 0.3em;
}
input[type="radio"]{
    margin-right: .3em;
}
label:nth-child(2){
    margin-left: 1.5em;
}
input:focus{
    -webkit-box-shadow: 0 0 1.2em #34ce57;
    -moz-box-shadow: 0 0 1.2em #34ce57;
    box-shadow: 0 0 1.2em #34ce57;
}
ul li {
    list-style: none;
    color: yellow;
    font-weight: bolder;
}